.nav-block {
    height: 100px;
    display: flex;
    align-items: center;
    position: static;
    top: 0px;
}

.home-block {
}

.app {
    height: 100vh;
}

@media (max-width: 600px) {
    .nav-block {
        height: 80px;
    }
}
