.home__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1.5rem 5rem 5rem 5rem;
}

.home_title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #272727;
    font-size: 30px;
}
