.tss-tlx3x1-MUIDataTableToolbar-root {
    width: 100%;
}

.css-kpihkf-MuiButtonBase-root-MuiIconButton-root {
    width: fit-content;
}

.css-11mde6h-MuiPaper-root {
    border-radius: 10px !important;
}

@keyframes flash {
    0%,
    100% {
        background-color: inherit;
    }
    50% {
        background-color: #b2fab4;
    }
}

.flash-background {
    animation: flash 1s ease-out infinite;
}

.background-red {
    background-color: #f34b4b !important;
    transition: background-color 2s ease-in-out;
}

@media (max-width: 600px) {
    .css-1y51ctb-MuiTableCell-root {
        padding: 6px 8px !important;
    }
    .css-dp13ad-MuiTableCell-root {
        padding: 0 8px !important;
    }
}
