.tss-tlx3x1-MUIDataTableToolbar-root {
    width: 100%;
}

.css-kpihkf-MuiButtonBase-root-MuiIconButton-root {
    width: fit-content;
}

.css-11mde6h-MuiPaper-root {
    border-radius: 10px !important;
}

@keyframes flash {
    0%,
    100% {
        background-color: inherit;
    }
    50% {
        background-color: #b2fab4;
    }
}

.flash-background {
    animation: flash 1s ease-out infinite;
}
