.accordion {
  width: 1200px;
  // margin: 2rem auto;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #e4e5e6;
  border: solid 2px #272727;
  font-weight: bolder;
  font-size: larger;

}

.accordion-left,
.accordion-right {
  flex-grow: 1;
  flex-basis: 0
}


.accordion-middle:hover {
  background-color: #272727;
  color: #ffffff;
  padding: 7px;
  margin: -7px;
  border-radius: 10px
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #39b9d2;
}