.table__latitude {
  width: 100%;
  table-layout: fixed;
  margin: 10px 0px;

  thead {
    padding: 10px;
    text-align: left;
    font-size: 20px;


    th {
      text-transform: uppercase;
      border: 1px solid #F1F1F1;
      color: #272727;
      padding-left: 10px;
    }

    th:nth-child(1) {
      width: 200px
    }
  }

  tbody {
    td {
      padding: 10px;
      border: 1px solid #F1F1F1;
    }

    td:nth-child(1) {
      width: 200px
    }
  }
}

p {
  padding: 10px;
  border: 1px solid #F1F1F1;
}