* {
    box-sizing: border-box;
}

.form__background {
    width: 75vw;
    top: 100px;
    // background-color: rgba(255, 255, 255, 0.3);
    // // backdrop-filter: blur(15px);

    display: flex;
    // margin-left: 550px;
    align-items: flex-start;
}

// .admin__form {
//   transition: transform 0.3s ease-in;

//   &--open {
//     transform: translateX(0%)
//   }

//   &--close {
//     transform: translateX(180%)
//   }
// }

form div {
    float: left;
    width: 49%;
    margin: 20px 0px;
    font-weight: bolder;
}

form div:not(:nth-child(2n)) {
    margin-right: 2%;
}

.form__item__large {
    display: inline-block;
    width: 100%;
    height: 10em;
}

.form__item__wide {
    width: 300%;
}

form div:last-child {
    display: flex;
    clear: both;
    width: 80%;
    justify-content: center;
    height: 3em;
}

//displaying label on top of input
form label {
    display: block;
    margin-bottom: 10px;
    font-size: larger;
}

//form styling (form itself)
input {
    padding: 0.5em;
    font-size: larger;
    border-radius: 5px;
    width: 75%;
}

input:focus {
    outline: 3px solid #446084;
}

button {
    // width: 50%;
    font-weight: bold;
    font-size: x-large;
    border-radius: 5px;
    color: white;
    background-color: #032433;
}
.tss-1h9t3sl-MUIDataTableHeadCell-sortAction {
    font-weight: bolder !important;
    font-size: 19px;
    color: var(--primary-color);
}

.dialog__iconbutton {
    width: 128px;
    height: 128px;
    margin: 2rem !important;
    font-size: 8rem;
    border: 3px solid !important;
    // border-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: none;
    color: black !important;
    border-color: black !important;
}

.dialog__iconbutton:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: white !important;
}

.css-1o36jr-MuiGrid-root > .MuiGrid-item {
    padding-left: 0 !important;
}

//clients form needs this to take up the full width

.MuiBox-root .css-0 {
    width: 100% !important;
}

.css-u78q51-MuiGrid-root {
    padding-left: 0 !important;
}

.css-7xiw84-MuiGrid-root > .MuiGrid-item {
    padding-left: 0 !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    padding: 0 !important;
}
